<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sign</key>
	<string>7k7kgame</string>
	<key>key</key>
	<string>zhaoxin</string>
	<key>src-path</key>
	<string>E:/MyGithub/mycrack/MyCrack/222/assets/src</string>
</dict>
</plist>